body {
    background-image: url("bg.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
 h1{
    color: #FFFFFF;
    font-size: 70px;
    .contentstext-align: center;
    font-family: cursive;
}

.button{
    position:absolute;
    top: 45%;
    left: 35%;
    margin-top: 200px;
    font-weight: bold;
}
.btn{
    border: 2px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    transition: 00.6s ease;
    border-radius: 20px;
    margin: 10px;
    background-color: #9ADCFF;
    margin-left: 120px;
}

.btn:hover{
    background-color: blue;
    color: #9ADCFF;
}